# Format checks enforced on CI:
# 1. Comments must appear above each field.
# 2. There must be a blank line between each field.
# 3. Inline comments (after a field on the same line) are not allowed.
# 4. Indentation level is respected for nested fields.

_target_: gerl.workers.config.DiffusersModelConfig

# path to the huggingface model
path: stabilityai/stable-diffusion-3.5-medium

# whether to use shared memory for model loading
use_shm: False

# override diffusers config
override_config: {}

# whether to use external libs for the model
external_lib: null

# whether to enable gradient checkpointing. Only valid when we use hf model definition
enable_gradient_checkpointing: False

# whether to enable activation offload. Only valid when we use hf model definition
enable_activation_offload: False

# Set to positive value to enable LoRA (e.g., 32)
lora_rank: 32

# LoRA scaling factor
lora_alpha: 64

# Initialization method for LoRA weights
lora_init_weights: gaussian

# Target modules for LoRA adaptation
target_modules: auto

# Exclude modules from LoRA adaptation
exclude_modules: null

# Path to pre-trained LoRA adapter to load for continued training
lora_adapter_path: null

# whether to use fused kernels.
use_fused_kernels: False

# whether to use torch compile.
use_torch_compile: True

# whether to use EMA for model weights
use_ema: False

# EMA decay rate
ema_decay: 0.9

